:root {
    --primary-bg-color: #1e90ff;
    --primary-color: #ffffff;
}

body {
    background-color: var(--primary-bg-color);
}

.container {
    --fontsize: 20px;
    color: var(--primary-bg-color);
    background-color: var(--primary-color);
    padding: 15px;
    font-size: var(--fontsize);
}

.container h2 {
    border-bottom: 2px solid var(--primary-bg-color);
}

@media screen and (min-width: 450px) {
    .container {
        --fontsize: 40px;
    }

    :root {
        --primary-bg-color: lightblue;
    }
}