#sh1 {
    text-shadow: 2px 2px;
}

#sh2 {
    text-shadow: 2px 2px red;
}

#sh3 {
    text-shadow: 2px 2px 5px red;
}

#sh4 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#sh5 {
    text-shadow: 0 0 3px #FF0000;
}

#sh6 {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

#sh7 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#sh8 {
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}