/*Estilo de border-image con round*/
#borderimg1 {
    border:10px solid transparent;
    padding: 15px;
    border-image: url(img/img-border.webp) 40 round;
}

/*Estilo de border-image con stretch*/
#borderimg2 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(img/img-border.webp) 40 stretch;
}

/*Estilo de border-image con % round*/
#borderimg3 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(img/img-border.webp) 10% round;
    margin-bottom: 15px;
}

#borderimg4 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(img/img-border.webp) 20% round;
    margin-bottom: 15px;

}
