label {display: block;}

input[type=text] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

/*El focus de los inputs*/
input[type=text]:focus {
  background-color: lightblue;
  border: 3px solid #555;
}