.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    cursor: pointer;
}

.tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

#tooltexttop {
    bottom: 100%;
    left: 65%;
    margin-left: -65px;
}

#tooltextbottom {
    top: 100%;
    left: 65%;
    margin-left: -65px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}